{% block content %}
<table class="table">
  <thead>
    <tr>
      <th>Date created</th>
      <th>Name</th>
      <th>Price</th>
      <th>Qty</th>
      <th>Amount</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    {% for item in expenseitem_list %}
    <tr>
      <td>{{ item.created_at }}</td>
      <td>{{ item.name }}</td>
      <td>{{ item.price }}</td>
      <td>{{ item.qty }}</td>
      <td>{{ item.amt }}</td>
      <td>
        <div class="d-flex gap-4">
          <a
            href="{% url 'expenses:expense_update' ledger_id=item.ledger.id pk=item.id %}"
            ><i class="bi bi-pencil"></i
          ></a>
          <a
            href="{% url 'expenses:expense_delete' ledger_id=item.ledger.id pk=item.id %}"
            ><i class="bi bi-trash3"></i
          ></a>
        </div>
      </td>
    </tr>
    {% endfor %}
  </tbody>
</table>
{% endblock %}
