{% extends 'expenses/base.html' %} {% block content %}
<form action="" method="post">
  {% csrf_token %}
  <h2>Are you sure you want to delete</h2>
  <table>
    <thead>
      <tr>
        <td>Date & Time Created</td>
        <td>Name</td>
        <td>Price</td>
        <td>Qty</td>
        <td>Amount</td>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>{{ object.created_at }}</td>
        <td>{{ object.name }}</td>
        <td>{{ object.price }}</td>
        <td>{{ object.qty }}</td>
        <td>{{ object.total }}</td>
      </tr>
    </tbody>
  </table>
  {{ form }}
  <input type="submit" value="Confirm" />
  {% include 'expenses/partials/cancel.html' %}
</form>
{% endblock %}
